<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8" />
    <title>Criar Novo Produto</title>
</head>

<body>
        <button
        style="display: inline-block; padding: 8px 16px; background-color: #007BFF; color: white; text-decoration: none; border-radius: 4px;"
        sec:authorize="isAuthenticated()" onclick="window.location.href='/user/profile'">
        Meu Perfil
    </button>

    <a href="/"
        style="display: inline-block; padding: 8px 16px; background-color: #007BFF; color: white; text-decoration: none; border-radius: 4px;">
        Voltar à loja
    </a>


    <div th:if="${successMessage}" id="successMsg" style="color: green; margin-bottom: 10px;">
        <p th:text="${successMessage}"></p>
    </div>
    <h1>Criar Novo Produto</h1>

    <form th:action="@{/products/create}" method="post" th:object="${product}" enctype="multipart/form-data">


        <label for="nameProduct">Nome do Produto:</label><br />
        <input type="text" id="nameProduct" th:field="*{nameProduct}" required /><br /><br />
        <div th:if="${#fields.hasErrors('nameProduct')}" th:errors="*{nameProduct}" style="color: red;"></div>
        <br /><br />
        <label for="description">Descrição:</label><br />
        <textarea id="description" th:field="*{description}" rows="4" cols="50" required></textarea><br /><br />
        <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color: red;"></div>
        <br /><br />
        <label for="price">Preço:</label><br />
        <input type="number" id="price" step="0.01" th:field="*{price}" required /><br /><br />
        <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" style="color: red;"></div>
        <br /><br />

        <label for="quantity">Quantidade:</label><br />
        <input type="number" id="quantity" th:field="*{quantity}" required /><br /><br />
        <div th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" style="color: red;"></div>
        <br /><br />

        <input type="file" name="imageFile" id="imageFile" required />

        <button type="submit">Salvar Produto</button>

    </form>

    

</body>

<script>

    setTimeout(function () {
        var msg = document.getElementById('successMsg');
        if (msg) {
            msg.style.display = 'none';
        }
    }, 7000);
</script>

</html>